---
import PageLayout from "@/layouts/Base";
import SocialList from "@/components/SocialList";
import proPic from "../assets/new_profile.jpg";
import { Image } from "astro:assets";

const meta = {
	title: "About",
	description: "I'm Aseems",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<Image src={proPic} alt="A Basic pic of me :)" width={proPic.width / 10} class="rounded-2xl" />
		<p class="cursor-fancy">
			Hi, My name is <b>ASEEMMUHAMMAD A R</b> (please call me <b>Aseem</b>). I'm A Software Engineer
			Based on Kochi. Currently Working as A Product Engineer at <a
				href="https://entri.app/"
				class="sm:hover:underline">Entri.App</a
			>.
		</p>
		<p>My primary interest is in BackEnd stuff but I also Makes:</p>
		<ul class="list-inside list-disc">
			<li>FrontEnd</li>
			<li>ML Models</li>
			<li>Small scale (hobby)electronics projects</li>
			<li>Indie Games</li>
			<li>Philosephy and omlets</li>
		</ul>
		<SocialList />
	</div>
</PageLayout>
