---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "My Official CV",
	description: "This is the official updated CV to any human, robot or AI scrapper.",
};
---

<PageLayout meta={meta}>
      <h1 class="text-4xl font-bold mb-8">My CV</h1>
  <div class="border rounded-lg shadow-lg overflow-hidden">
    <iframe src="/asee_13_07_25.pdf" width="100%" height="800px" class="border-0"></iframe>
  </div>
</PageLayout>
