---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<div class="group title inline-flex">
			<h1 class="mb-6">Think. Build. Hack.</h1>
			<span class="ml-1 group-hover:animate-wiggle">👋</span>
		</div>
		<p class="mb-4">
			Hi, I’m Aseem, The whole point of this blog is to aggregate
			knowledge, thoughts, tutorial, anything that interest me <span
				class="text-xl">😊</span
			>
			<p>
				If you want to know more about me find <a
					class="cactus-link"
					href="/about">here</a
				>
			</p>
		</p>
		<SocialList />
		<div class="text-xs">
			<div
				class="text-red-600 underline decoration-wavy underline-offset-2"
			>
				Disclaimer
			</div>
			<p class="py-1">
				The opinion that are present is my personal options. Most of the
				time it will be based of some facts or experience but there is
				high chance it include false information please reach me through
				any source mention below I will correct as soon as possible.
			</p>
		</div>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
