<div class="flex h-screen flex-col items-center justify-center px-4">
	<h1 class="mb-4 text-4xl font-bold text-gray-800">Coming Soon</h1>
	<p class="mb-8 text-lg text-gray-600">
		We're working hard to bring you an amazing new website. Stay tuned!
	</p>
	<div class="flex space-x-4">
		<a
			href="/"
			class="rounded-full bg-blue-500 px-4 py-2 text-white shadow-lg transition duration-300 hover:bg-blue-600"
			>Got To Home</a
		>
		<!-- <a
			href="#"
			class="rounded-full bg-gray-300 px-4 py-2 text-gray-800 shadow-lg transition duration-300 hover:bg-gray-400"
			>Learn More</a
		> -->
	</div>
</div>
