---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "CV's",
	description: "This CV of ASEEMMUHAMMAD A R",
};
---

<PageLayout meta={meta}>
	<div class="flex place-content-center">
		<div>
			This page is under cunstruction. Please find my CV <a
				class="text-cyan-600"
				href="/aseem_cv_29_01_24.pdf">here</a
			>
		</div>
	</div>
</PageLayout>
