---
import ProgressBar from "@/components/ProgressBar";
import { SKILL_LIST } from "@/data/constants";
---

<h2 class="title mb-4 text-xl mt-10">Skills</h2>
<ul class="space-y-4 sm:space-y-2">
    {
        SKILL_LIST.map((skill) => (
        <li class="flex flex-nowrap items-center my-4 gap-2">
            <a
                href=`${skill.link}`
                rel="noopener noreferrer"
                class="cactus-link inline-block"
                >{skill.name}
            </a>:
            <ProgressBar progress={skill.progress}/>
        </li>
        ))
    }
</ul>